html {
  block-size: 100%;
  color-scheme: light dark; 
}

body {
  background-color: rgb(247, 249, 251);
    /* height:100%; */
}



.jumbotron {
  background-image: url(../../images/Captura-apuntes-especializacion.PNG);
  background-repeat: no-repeat;
  background-size: cover !important;
  height: 50vh;
  width: 100%;
  background-size:100%;
  background-attachment:fixed;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  h1,h4 {
    align-content: center;
    position: relative;
    top: 50%;
    -webkit-text-stroke: 1px grey;
    -webkit-text-fill-color: #FFF;
  }
}

h1,h2,h3,h4,h5 {
    color: #066aa4;
    font-weight: bold;
}

h2,h3,h4.headline{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h4.access{
  margin-bottom: 0;
}

span {   
    color: rgba(61, 105, 105, 0.945);
    font-size:medium;
}


span.update {
  margin-top: 1rem;
  padding-top: 2rem;
  position: relative;
  top: 70%;
  -webkit-text-stroke: 1px rgb(77, 76, 76);
  -webkit-text-fill-color: #FFF;
}


@counter-style check {
    system: cyclic;
    symbols: ✔️;
    suffix:" ";
  }

  ul li {
    list-style: check;
}

ol li{
  list-style-type: decimal;
  list-style-position: inside;
}

a{
  text-decoration: none;
}

footer a{
  color: #575b5e;
}

